.blue {
    background-color: blue;
    color: white;
}

.green {
    color: green;
}

.st-img{
    border : 1px #41ad43 solid;
}

.tabel td {
    background-color: #888;
}

.tabel {
    color: #fff;
}
